input{
    padding: 10px;
    margin-left: 500px;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: lavender;
}
button{
    padding: 5px;
    margin-left: 15px;
    border: 1px solid darkcyan;
    border-radius: 15px;
    background-color: aqua;
    width: 90px;
    margin-bottom: 100px;
}
.row {
   
    width: 200px;
    padding: 20px;
    float: left;
   
    margin-left: 50px;
}
.card {
    
    box-shadow:  4px 6px  rgb(157, 206, 244);
    padding: 16px;
    text-align: center;
    background-color: white;
  }